header {
  position: relative;
  display: flex;
  justify-content: center;
  /* top: -100px; */
  height: 75px;
  margin-bottom: 50px;
  /* background-color: aqua; */
}

#js-triggers {
  position: inherit;
  justify-content: right;
}

.menu {
  transition-delay: 500ms;
  position: relative;
  overflow: hidden;
  top: -200px;
  left: -100px;
  height: 50px;
  width: 150px;
  /* left: -500px; */
  background-color: aqua;
}

.menu1 {
  position: inherit;
  top: 25px;
  right: 20px;
}

.menu2 {
  position: inherit;
  left: 50px;
  top: -50px;
}

.subMenu1 {
  position: inherit;
  top: -125px;
}

.subMenu2 {
  position: inherit;
  top: -125px;
}

.modal-panel {
  transition-delay: 500ms;
  position: fixed;
  /* display: flex;
  justify-content: center;
  right: 350px;
  top: -700px; */
  margin-top: -700px;
  margin-left: -150px;
  height: 600px;
  width: 500px;
  background-color: orange;
}
